.visualizations {

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .scroller {
    max-width: 1000px;
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 15px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    .scroller-item {
      scroll-snap-align: start;
      scroll-snap-type: initial;
      scroll-margin-inline-start: 0;
    }

  }
}