// colours
$white: #fbfbfb;
$background: #EBE2E0; //#ededed;
$orange: #E2993D;
$light-green: #C5E1D2;
$green: #5DAC6E;
$hover: #9C9C9C;
$black: #000000;
$beige: #E4CEBE;
$red: #D9564A;

// sizes
$border-radius: 15px;